*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        180deg,
        #0a0a0a 0%,
        #000000 50%,
        #111111 100%
    );

    padding:30px;
    overflow-x:hidden;

    font-family:Arial, Helvetica, sans-serif;

}

.convite{

    position:relative;

    width:90vw;
    max-width:460px;

    transition:.3s;

}

.convite img{

    width:100%;

    display:block;

    border-radius:20px;

    box-shadow:
        0 15px 45px rgba(0,0,0,.6),
        0 0 25px rgba(255,190,40,.08);

}

/* ============================
   BOTÃO LOCAL
============================ */

.btn-local{

    position:absolute;

    left:6.5%;
    bottom:2.1%;

    width:25%;
    height:11%;

    border-radius:50%;

}

/* ============================
   BOTÃO WHATSAPP
============================ */

.btn-whats{

    position:absolute;

    left:37.5%;
    bottom:2.1%;

    width:25%;
    height:11%;

    border-radius:50%;

}

/* ============================
   BOTÃO CARDÁPIO
============================ */

.btn-cardapio{

    position:absolute;

    right:6.5%;
    bottom:2.1%;

    width:25%;
    height:11%;

    border-radius:50%;

}

/* CELULAR */

@media(max-width:480px){

    body{

        padding:15px;

    }

    .convite{

        width:95vw;

    }

}