*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        180deg,
        #0a0a0a 0%,
        #000000 50%,
        #111111 100%
    );

    padding:30px;
    overflow-x:hidden;

    font-family:Arial, Helvetica, sans-serif;

}

.convite{

    position:relative;

    width:90vw;
    max-width:450px;

}

.convite img{

    width:100%;
    display:block;

    border-radius:20px;

    box-shadow:
        0 15px 45px rgba(0,0,0,.6),
        0 0 25px rgba(255,200,0,.08);

}

/* ---------- BOTÃO VERMELHO ---------- */

.btn-local{

    position:absolute;

    left:4%;
    bottom:2.2%;

    width:44%;
    height:9%;

    border-radius:20px;

}

/* ---------- BOTÃO VERDE ---------- */

.btn-whats{

    position:absolute;

    right:4%;
    bottom:2.2%;

    width:44%;
    height:9%;

    border-radius:20px;

}

/* ---------- CELULAR ---------- */

@media(max-width:480px){

    body{
        padding:15px;
    }

    .convite{

        width:95vw;

    }

}